  <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow-sm">
    <div class="flex w-full items-center justify-between space-x-6 p-6">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="truncate text-sm font-medium text-gray-900">
            <%= t('.title') %>
            <%= book.title %>
          </h3>
        </div>
        <p class="mt-1 truncate text-sm text-gray-500">
          <%= t('.author') %>
          <%= book.author %>
        </p>
      </div>
    </div>
  </li>